<h1><%= movieDetail.Title %></h1>
<img src="<%=movieDetail.Poster%>"/>
<h4>Released: <%= movieDetail.Year %></h4>
<div>
    <p>Rating: <%= movieDetail.Rated%></p>
    <p>Runtime: <%= movieDetail.Runtime%></p>
</div>
<div>
    <p>
        Directed By: <%= movieDetail.Director %>
    </p>
    <p>
        Written By: <%= movieDetail.Writer %>
    </p>
    <p>
        Starring: <%= movieDetail.Actors %>
    </p>
</div>
<div>
    <p>
        <%= movieDetail.Plot %>
    </p>
</div>
<div>
    <p>
        IMDB Rating: 
        <% for(i=0; i< parseInt(movieDetail.imdbRating); i++) { %>
            <i class="fas fa-star"></i>
        <% } %>
        <% for(i=0; i< 10-parseInt(movieDetail.imdbRating); i++) { %>
            <i class="far fa-star"></i>
        <% } %>
    </p>
    <p>
        <% if(movieDetail.Ratings) { %>
            Rotten Tomatoes Rating: <%= movieDetail.Ratings[1].Value %>
        <% } %>
    </p>
</div>